<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng Nhập</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/LoginPage/style.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row justify-content-center g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="https://raw.githubusercontent.com/NaughtyRavenn/Images/main/Main-project/logo.jpg" style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">We are Group 1 </h4>
                                    </div>

                                    <form class="mx-1 mx-md-4" action="." method="post">
                                        {% csrf_token %} {% for key, value in form.error.item%} {{value}} {% endfor %}
                                        <p class="fw-bold fs-2">Login</p>


                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa fa-user me-3 fa-lg fa-fw fw-bold fs-3" aria-hidden="true"></i>
                                            <div class="form-outline flex-fill mb-0 form-floating">
                                                {{ form.username }}
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa fa-lock me-3 fa-lg fa-fw fw-bold fs-3" aria-hidden="true"></i>
                                            <div class="form-outline flex-fill mb-0 form-floating">
                                                {{ form.password }}
                                            </div>
                                        </div>





                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary  btn btn-lg btn-primary gradient-custom-2 mb-3 border-0 w-100" type="submit">Login</button>
                                            <input type="hidden" name='next' value="/home" />
                                            <!-- <input type="submit" value="Đăng Nhập"/>
                                            <button type="submit">Submit</button> -->
                                            <a class="text-muted" href="#!">Forgot Password?</a>
                                        </div>


                                        <div class="d-flex align-items-center justify-content-center pb-4">
                                            <p class="mb-0 me-2">Don't have account?</p>
                                            <button type="button" class="btn btn-link"><a href="{% url 'dangky' %}">Register now</a></button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4 fs-3">This is an application for Fundamental of Telecommunication project</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>